:root {
  --main-font: "TT Norms", sans-serif;
  --main-red: #e52322;
  --main-grey: #b0b6bf;
  --main-black: #1f2c37;
  --main-white: #ffffff;
  --background-color: #f2f4f7;

  --grid-item: 4;
}

body {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  text-transform: inherit;
  font-weight: inherit;
}

button:hover,
button:focus,
a:hover,
a:focus {
  color: var(--main-red);
}

.header {
  background-color: yellowgreen;
}

.container-nav {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid;
  padding-top: 200px;
}

.nav-box {
  display: flex;
}

.logo,
.list-item button,
.list-item a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-box .list {
  display: flex;
  /* justify-content: space-between; */
  margin-left: auto;
  align-items: center;
}

.list-item:not(:last-child) {
  margin-right: 120px;
}

.list-item button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* background-color: green; */
}

.nav-box .list-item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.nav-box .list-item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-box .list-item:nth-child(2) {
  font-size: 15px;
}

.button-icon {
  display: flex;
  align-items: center;
}

.icon-search {
  margin-right: 11.41px;
  fill: var(--main-black);
}

.button-icon:hover .icon-search,
.button-icon:focus .icon-search {
  fill: currentColor;
}

/* Секция герой */

.hero {
  background: url(../images/index/img1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

.hero .container {
  padding-top: 568px;
  padding-bottom: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  color: var(--main-white);
}

.hero h1 span {
  color: var(--main-red);
  text-transform: capitalize;
}

.social-list {
  color: var(--main-white);
  display: flex;
  font-size: 14px;
}

.social-list li:not(:last-child) {
  margin-right: 50px;
}

/* Секция услуги */

.services-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -60px;
  margin-bottom: -60px;
  margin-top: 100px;
}

.services-item {
  background-color: yellow;
  margin-right: 60px;
  margin-bottom: 60px;
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));

  width: 255px;
  height: 255px;
}

.services-item .services-link {
  padding-top: 40px;
  padding-left: 40px;
}

.services-link {
  height: 255px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.services-icons {
  fill: var(--main-red);
}

.services-link:hover .services-item-text,
.services-link:focus .services-item-text {
  color: var(--main-white);
}

.services-link:hover .services-icons,
.services-link:focus .services-icons {
  fill: var(--main-white);
}

.services-link:hover,
.services-link:focus {
  background-color: var(--main-red);
}

.item-text {
  font-size: 14px;
  color: var(--main-grey);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.services-item-text {
  font-size: 19px;
  line-height: 1.3;
  color: var(--main-black);

  margin-top: 53px;
}

.item-title {
  font-size: 37px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--main-black);

  margin-top: 20px;
}

.part-title {
  color: var(--main-red);
}

/* Секци преимущества */

.advantages-container {
  background-color: var(--background-color);
}

.advantages-box {
  display: flex;
  margin-right: -60px;
}

.box-item {
  --grid-item: 2;
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));
  margin-right: 60px;
  padding-bottom: 150px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -60px;
  margin-bottom: -71px;
}

.advantages-item {
  --grid-item: 2;
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));
  margin-right: 60px;
  margin-bottom: 71px;
}

.years-item {
  font-size: 75px;
  color: var(--main-red);
}

.years-item::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: var(--main-grey);

  margin-top: 17px;
}

.years-text {
  font-size: 16px;
  line-height: 1.4;
  color: var(--main-black);

  margin-top: 20px;
}

.advantages-line {
  margin-bottom: 20px;
}

/* Секция наши работы */

.works-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -60px;
  /* margin-bottom: -100px; */
  margin-top: 60px;
}

.works-item {
  --grid-item: 2;
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));
  margin-right: 60px;
  /* margin-bottom: 100px; */
}

.works-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--main-black);

  margin-top: 20px;
}

.works-text {
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-grey);

  margin-top: 15px;
}

.works-img {
  padding-top: 100px;
}

.works-link:hover,
.works-link:focus {
  color: var(--main-grey);
}

.works-link:hover h3,
.works-link:focus h3 {
  color: var(--main-red);
}

.plus-item {
  stroke: var(--main-black);
}

.text-all {
  display: flex;
  align-items: center;
}

.text-all::before {
  content: "";
  display: block;
  width: 1000px;
  height: 1px;
  background-color: currentColor;

  margin-right: 48px;
}

.link-all {
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  margin-top: 80px;
}

.link-all:hover .plus-item,
.link-all:focus .plus-item {
  stroke: var(--main-red);
}

/* Секция наши партнеры */

.partners-box {
  display: flex;
  margin-right: -60px;
}

.partners-box-item {
  --grid-item: 2;
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));
  margin-right: 60px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-right: -85px;
  margin-bottom: -70px;
}

.partners-list-item {
  --grid-item: 3;
  flex-basis: calc((100% - 85px * var(--grid-item)) / var(--grid-item));
  margin-right: 85px;
  margin-bottom: 70px;
}
